body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  background-color: black;
}

.App {
  background-color: black;
  overflow: hidden;
}

h1 {
  margin: 0;
}

.search {
  position: absolute;
  z-index: 30;
  background-color: rgb(92, 221, 53);
  width: 300px;
  height: 50px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  color: white;
  border: 2px solid white;
}

.search p {
  margin: 0;
  line-height: 50px;
  font-size: 20px;
  font-family: "Bebas Neue", cursive;
  font-size: 1.7rem;
  width: 100%;
  text-align: center;
}

.MenuOverLay {
  position: absolute;
  z-index: 41;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  background-color: rgba(0, 0, 0, 0.61);
  backdrop-filter: blur(5px);
}

.menuOverlayContents {
  width: 95%;
  height: 400px;
  max-width: 600px;
  background-color: rgb(39, 39, 38);
  margin: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Bebas Neue", cursive;
  color: white;
}

.menuText {
  font-size: larger;
  margin-bottom: 0;
  height: fit-content;
  letter-spacing: 2px;
  font-weight: 100;
}

#start {
  width: 250px;
  height: 60px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 30px;
  margin-top: 0;
  font-family: "Bebas Neue", cursive;
  transform: translate3d(0, 0.75em, -1em);
  box-shadow: 0 0 0 2px rgb(75, 74, 74), 0 10px 0 0 rgba(65, 66, 65, 0.349);
}
